package Bio::P3::HomologySearch::Config;

use constant	    blast_db_search_path => ['[% blast_db_search_path %]'];
use constant	    blast_sqlite_db => '[% blast_sqlite_db %]';

use base 'Exporter';
our @EXPORT_OK = qw(blast_db_search_path blast_sqlite_db);
our %EXPORT_TAGS = (all => [@EXPORT_OK]);
1;

